.lista_usuario{
     width: auto;
    margin: auto;
}
.lista_usuario h1{
    color: #3c93b0;
}
.new_user{
    display:inline-block;
    text-align: center;
    background: #239baa;
    color: #FFF;
    padding: 5px 5px;
    border-radius: 13px;
    margin: 10px;
}
table{
    border-collapse: collapse;
    border: 5px solid #B2D4C0;
    border-radius: 10px;
    font-size: 17px;
    font-family: sans-serif;
    width: 100%;
}
table th{
    border: 2px solid grey;
    text-align: left;
    padding: 10px;
    background: #3d7ba8;
    color: #FFF;
}
table tr:nth-child(odd){
    background: #092F43;
    color: white;
}
table tr:nth-child(even){
    background: #010608;
    color: white;
}
table td{
    border: 2px solid grey;
    padding: 10px;}

.modificar_user{
    color: #0ca4ce;
}

